@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3,
.serif {
  font-family: 'Playfair Display', serif;
}

body {
  @apply bg-white text-brand-navy overflow-x-hidden;
}

.glass {
  @apply bg-white bg-opacity-10 backdrop-blur-lg border border-white border-opacity-20;
}

.premium-gradient {
  @apply bg-gradient-to-br from-brand-emerald to-brand-slate;
}